#InnerSummary {
  margin: 5%;
}

#summaryTitle {
  font-size: 2vw;
}

/* Contact */
.contact {
  scroll-snap-align: start;
  height: 100vh;
}

.ContactPicDiv {
  display: flex;
  align-items: center;
}

.ContactPic {
  width: 3vw;
  margin-right: 2vw;
}

#Contact {
  bottom: 0;
}
