#extracurriculars {
  background: linear-gradient(135deg, #0b2238, #1a3865);
  border-radius: 20px;
  width: 20vw;
  margin: 2%;
  padding: 2%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.Western_University {
  height: 50px;
  display: flex;
}
