/* Scrollbar */
::-webkit-scrollbar {
  width: 20px;
  scroll-behavior: smooth;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #c2034c;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 6px solid transparent;
  background-clip: content-box;
}
