/* Main Page */
#about {
  background-image: url("../Pictures/BackPic.jpg");
  background-color: #1a1a1a;
  background-size: cover;

  background-blend-mode: exclusion;

  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  color: white;
  text-align: right;
  /* padding: 0; */

  /* scroll-snap-align: start; */
  margin: 0;
  padding: 0;
}

.Picture {
  position: absolute;
  bottom: 0vh;
  left: 5%;
  max-width: 25vw;
  max-width: 100%;
  max-height: 85%;
  padding: 0%;
}

.AboutText {
  position: absolute;
  top: 20%;
  bottom: 0;
  right: 5%;

  width: 50%;
  height: 60%;

  font-size: calc(1vh + 1vw);

  background-color: #0000003d;
  padding: 1vw;
}

#text {
  color: rgb(255, 50, 50);
}

/* Phone size */
@media screen and (max-width: 600px) {
  #AboutParagraph {
    text-align: center;
  }
  #AboutDescription {
    /* display: none; */
  }
  .Picture {
    /* position: absolute; */
    bottom: 0%;
    left: -20%;
    margin: 0%;
    padding: 0%;
    /* max-height: 1vw; */
    max-width: 80vw;
  }

  .AboutText {
    /* position: absolute; */
    top: 30%;
    bottom: 0;
    right: -3%;
    /* left: 52%; */
    width: 50%; /* adjust this value as needed */
    height: 60%;
    text-align: left;
  }
}

body {
  background-color: #282828;
  color: aliceblue;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  padding: 10px;
  list-style: none;
}

/* Fonts */
h1 {
  padding-left: 50px;
  font-size: calc(2vh + 2vw);
}

.header {
  height: 5vw;
  width: 100%;
  background-color: #000000a2;
  border: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.name {
  display: flex;
  align-items: center;
  font-size: calc(1.5vh + 1.5vw);
  padding: 0;
  padding-left: 1vw;
  margin: 0; /* Add this line */
}

.contactDiv {
  display: flex;
  align-items: center;
  font-size: calc(1.5vh + 1.5vw);
  padding-right: 1vw; /* Use padding-right instead of padding-left */
}

.ContactPic {
  width: 2vw;
  margin-left: 2vw;
}

.emailIcon {
  height: 1.8vw;
  width: auto;
}

main {
  margin: 0;
  padding: 0;
}

html {
  /* scroll-snap-type: y mandatory; */
  margin: 0;
  padding: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 20px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border: 6px solid transparent;
  background-clip: content-box;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.3vw;
  padding-right: 0.4vw;
  color: aliceblue;

  scroll-snap-align: start;
  font-size: calc(0.7vh + 0.7vw);
}

/* Phone size */
@media screen and (max-width: 600px) {
  p {
    font-size: 10px;
  }

  h1 {
    font-size: 8vw;
  }

  #summary {
    display: block;
  }

  #PhoneText {
    font-size: calc(1vh + 2vw); /* font-size: 2vh; */
  }

  footer {
    right: 0%;
  }
}

/* CSS */
.redirectButton-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 1px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 1vh;
}

.redirectButton-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: black;
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.redirectButton-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(0, 3%, 7%) 0%,
    hsl(340, 100%, 5%) 8%,
    hsl(340, 100%, 20%) 92%,
    hsl(342, 100%, 11%) 100%
  );
}

.redirectButton-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: #0f0f0f;
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

@media (min-width: 768px) {
  .redirectButton-front {
    font-size: 1vw;
    padding: 0.8vw 3.5vw;
  }
}

.redirectButton-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.redirectButton-pushable:hover .redirectButton-front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.redirectButton-pushable:active .redirectButton-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.redirectButton-pushable:hover .redirectButton-shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.redirectButton-pushable:active .redirectButton-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.redirectButton-pushable:focus:not(:focus-visible) {
  outline: none;
}

.redirectDiv {
  text-align: center;
  position: relative;
  top: 77%;
  left: 60%;
  width: fit-content;
}
